
<main class="flex flex-col h-full" itemscope itemtype="https://schema.org/WebApplication">
  <meta itemprop="name" content="PianoML">
  <meta itemprop="applicationCategory" content="EducationalApplication">
  <meta itemprop="operatingSystem" content="Web Browser">

      <header class="page-title text-center">
        <h1 id="main-heading" itemprop="headline">A Machine to Learn Piano</h1>

      </header>
  
  <section id="section1" class="section1" aria-labelledby="main-heading">

    @if (isMobileOrTablet()) {
      <app-homecss class="css-background"></app-homecss>
    } @else {
      <app-homegl class="gl-background"></app-homegl>
    }


    <div class="absolute inset-0 z-1 flex flex-col items-center justify-center gap-2 mt-4">



      <a 
        class="btn-hero mt-4"
        (click)="summary()"
        title="Start learning piano with PianoML"
        aria-label="Start your piano learning journey">Take a seat</a>
    </div>

  </section>



</main>