.section1 {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.css-background, .gl-background {
  display: block;
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}
