
.animated-score {
	background-color: white;

}


.match-score {
	background-color: blue;
	opacity: 0.3;
	position: absolute;
	height: 320px;
	/* top: 340px; */
	width: 32px; /* stave_width / beat_number */
	left: calc(50% - 8px);
}

.countdown {
	color: blue;
	font-size: 154px;
	position: absolute;
	top: calc(20% + 5px);
	left: calc(50% - 72px);
}

svg {
	color: black;
}