<app-slop-dialog [show]="showSlopDialog" [scoreData]="scoreData" [close]="() => showSlopDialog = false"></app-slop-dialog>
<div class="flex flex-col flex-grow h-dvh bg-white">

  <div class="flex-row  bg-black relative" [class.toggleToolbar]="toggleToolbar"><!-- top bar -->

    @if (toggleToolbar) {
    <div>
      <div class="flex flex-col lg:flex-row xl:flex-row mt-2 pl-2 pr-2 osmd-state-transition">
        <div class="flex lg:w-1/2 xl:w-1/2 ">
          <div class="flex-none ">
            <button (click)="summary()" class="btn btn-desktop m-1">
              <ng-icon name="bootstrapHouse" class="svg-button" />
            </button>
          </div>
          <div class="display flex-grow m-1 lcd-text">
            <div class="flex flew-grow flex-row  m-1">
              <div #titleContainer class="flex-grow overflow-hidden mr-2 marquee-container">
                <div #titleText [class.animate-marquee]="shouldScroll" class="title-text">
                  &nbsp;{{ title }}
                </div>
              </div>
              <div class="flex-none flex flex-col text-sm">
                <div class="text-center">
                  {{ (elapsedTime | async) | elapsedTime }}
                </div>
                <div class="text-center">
                  ♩{{ tempo }}
                </div>
              </div>
            </div>
          </div>
        </div>
        @if (!loading) {
        <div class="flex lg:w-1/2 xl:w-1/2 items-end justify-center">
          <div id="tools">
            <div class="flex flex-col md:flex-row w-full md:items-center md:justify-end">
              <div class="flex flex-row flex-wrap md:flex-nowrap w-full md:w-auto md:space-x-0">
                <button (click)="startTour()" class="btn btn-desktop m-1" id="help-tour">
                  <ng-icon name="bootstrapQuestionCircle" class="svg-button" />
                </button>
                @if (!isPlaying) {
                <div class="checkbox-input m-1" id="fullscreen">
                  <label class="label svg-label">
                    <input type="checkbox" [checked]="isFullscreen" (change)="toggleFullscreen()" />
                    <ng-icon name="bootstrapFullscreen" class="svg-button" />
                  </label>
                </div>
                <button (click)="showInfo()" class="btn btn-desktop m-1" id="score-info">
                  <ng-icon name="bootstrapInfoCircleFill" class="svg-button" />
                </button>
                <button (click)="reset()" class="btn btn-desktop m-1" id="reset-score">
                  <ng-icon name="bootstrapSkipBackwardFill" class="svg-button" />
                </button>
                <div class="checkbox-input m-1" id="midi-setup">
                  <label class="label svg-label ">
                    <input type="checkbox" [checked]="!hideKeyboard"
                      (click)="$event.preventDefault(); openMidiSetup()" />
                    <ng-icon name="bootstrapGear" class="svg-button" />
                  </label>
                </div>

                }
              </div>
              <div class="flex flex-row flex-wrap md:flex-nowrap w-full md:w-auto md:space-x-0">
                @if (!isPlaying) {
                <div class="checkbox-input m-1" id="showTempo">
                  <label class="label svg-label ">
                    <input type="checkbox" [checked]="!showTempo" (click)="$event.preventDefault(); openTempo()" />
                    <ng-icon name="bootstrapSpeedometer2" class="svg-button" />
                  </label>
                </div>
                <div class="checkbox-input m-1" id="loop">
                  <label class="label svg-label">
                    <input type="checkbox" [disabled]="isPlaying" [checked]="playConfiguration.isLoop"
                      (change)="playConfiguration.isLoop = !playConfiguration.isLoop" />
                    <ng-icon name="bootstrapRepeat" class="svg-button" />
                  </label>
                </div>
                <div class="checkbox-input m-1" id="left-hand">
                  <label class="label svg-label">
                    <input type="checkbox" [disabled]="isPlaying" [checked]="playConfiguration.waitForLeftHand"
                      (change)="setWaitForLeftHand(!playConfiguration.waitForLeftHand)" />
                    <ng-icon name="lefthand" class="svg-button" />
                  </label>
                </div>
                <div class="checkbox-input m-1" id="right-hand">
                  <label class="label svg-label">
                    <input type="checkbox" [disabled]="isPlaying" [checked]="playConfiguration.waitForRightHand"
                      (change)="setWaitForRightHand(!playConfiguration.waitForRightHand)" />
                    <ng-icon name="righthand" class="svg-button" />
                  </label>
                </div>
                }
                <div id="play-pause">
                  @if (!isPlaying) {
                  <button (click)="start()" class="btn btn-desktop m-1">
                    <ng-icon name="bootstrapPlayFill" class="svg-button" />
                  </button>
                  } @else {
                  <button (click)="stop()" class="btn btn-desktop m-1">
                    <ng-icon name="bootstrapPauseFill" class="svg-button" />
                  </button>
                  }
                </div>
              </div>
            </div>
          </div>

        </div>
        }
      </div>
    </div>
    }

    <!-- @if (toggleToolbar) {    } -->
    <div class=" bg-transparent l-2 pr-2 p-2 mr-4 ml-4 z-100">
      <div #range id="measure-range"></div>
    </div>


    @if ((osmdLoading$ | async)) {
    <div class="flex flex-col items-center justify-center w-full h-dvh text-6xl osmd-state-transition">
      @if ((loadingFeedBack$ | async); as fb) {
      <div class="w-[250px] pl-4">
        <span class="text-sm mt-2">{{ fb.message }} - {{ fb.percentage }}%</span>
      </div>
      }
      @if (!(loadingFeedBack$ | async); as fb) {
      <div class="w-[250px] pl-4">
        <span class="text-sm mt-2">downloading data...</span>
      </div>
      }
    </div>
    }


    <!--*ngIf="isSmallScreen()"  Handle: centered icon at bottom to toggle toolbar -->
    <div class="p-2 absolute left-1/2 transform -translate-x-1/2 z-50 ml-2 mr-2 w-full">
      <button (click)="fnToggleToolBar()" [attr.aria-pressed]="!toggleToolbar" title="Basculer la barre supérieure"
        class="text-black p-1 w-100 rounded w-full flex items-center justify-center">
        <ng-icon name="bootstrapGripHorizontal" class="" />
      </button>
    </div>

  </div>


  <!-- score -->
  @if (!(loading$ | async)) {
  <div (click)="startStop()" class="bg-white flex-grow overflow-y-auto score-container">
    @if (showOsmd) {
    <app-osmd [scoreData]="scoreData" [musicXml]="musicXml" (loadingChange)="onOsmdLoadingChange($event)"></app-osmd>
    }
  </div>
  }


  <div>
    <button (click)="fnToggleKeyboard()" [attr.aria-pressed]="!toggleToolbar" title="Toggle Keyboard"
      id="toggle-keyboard" class="text-black p-2 w-100 rounded w-full flex items-center justify-center">
      <ng-icon name="bootstrapGripHorizontal" class="" />
    </button>
  </div>

  @if (!hideKeyboard && !(loading$ | async)) {
  <div class="flex-none">
    <app-keyboard [minKey]="keyboardMinKey" [maxKey]="keyboardMaxKey" [keyHeight]="keyboardHeight"></app-keyboard>
  </div>
  }


  <app-midi-setup [isOpen]="isMidiSetupOpen" [hideKeyboard]="hideKeyboard" [hideFingering]="hideFingering"
    [hideLyrics]="hideLyrics" [hideFingeringAndHarmony]="hideFingeringAndHarmony"
    (hideLyricsChange)="setHideLyrics($event)" (hideKeyboardChange)="setHideKeyboard($event)"
    (hideFingeringChange)="setHideFingering($event)"
    (hideFingeringAndHarmonyChange)="setHideFingeringAndHarmony($event)" (hideLyricsChange)="setHideLyrics($event)"
    (closeModal)="closeMidiSetup()"></app-midi-setup>

  <app-tempo-control [isOpen]="isTempoOpen" [tempo]="tempo" [metronome]="playConfiguration.useMetronome"
    (tempoChange)="onTempoChanged($event)" (metronomeStatus)="onMetronomeStatus($event)"
    (closeModal)="closeTempo()"></app-tempo-control>

</div>